.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar {
  //   position: fixed;
  //   top: 0;
  //   position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // background-color: rgb(245, 243, 243);
  padding: 10px 20px;
  height: 90px;
  align-items: center;
  box-sizing: border-box;
  z-index: 99;
  transition: 0.5s all ease;
  border-bottom: 0.5px solid gainsboro;

  @media (max-width: 600px) {
    // position: fixed;
    background-color: white;
  }
  // position: absolute;

  &.active {
    position: fixed;
    // background-color: rgb(203, 201, 201);
    background-color: rgb(245, 243, 243);
    top: 0;
  }
  .logo {
    flex: 2;
  }
  a {
    text-decoration: none;
  }
  .middle {
    display: flex;
    gap: 10px;
    flex: 2;
    a {
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  .left-nav {
    display: flex;
    gap: 10px;
    align-items: center;
    .scrolls {
      display: flex;
      gap: 10px;
      align-items: center;
      @media (max-width: 600px) {
        display: none;
      }
    }
    p {
      font-size: 14px;
      color: gray;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .cart-button {
      border: none;
      padding: 8px 14px;
      background-color: black;
      font-weight: bold;
      cursor: pointer;
      color: white;
      font-size: 15px;
      position: relative;

      @media (max-width: 600px) {
        display: none;
      }
    }

    .cart-button-hidden {
      @media (max-width: 600px) {
        border: none;
        padding: 8px 14px;
        background-color: black;
        font-weight: bold;
        cursor: pointer;
        color: white;
        font-size: 15px;
        display: block;
        position: relative;
      }
      display: none;
    }
  }
}

.cart-menu {
  position: fixed;
  // position: absolute;
  overflow: auto;
  width: 0;
  min-height: 100%;
  background-color: rgb(223, 220, 220);
  // background-color: royalblue;
  color: black;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: 0.8s;
  z-index: 33;
  // padding: 30px;
  // box-sizing: border-box;
  .menu-container {
    padding: 20px;
    // position: relative;
    // height: 100%;
    .total {
      color: orangered;
    }
    .menu-header {
      display: flex;
      justify-content: space-between;
      h1 {
        margin: 0;
        padding: 0;
        font-size: 40px;
      }

      button {
        color: white;
        border: none;
        background-color: black;
        font-size: 30px;
        border-radius: 5px;
        padding: 5px 15px;
        cursor: pointer;

        @media (max-width: 600) {
          display: none;
        }
      }
    }
    .menu-footer {
      position: absolute;
      margin-top: auto;
      bottom: 10px;
      // right: 10px;
      // left: 10px;
      width: 95%;

      box-sizing: content-box;
      display: flex;

      // .menu-continue {
      //   flex: 1;
      // }
      .menu-pay {
        width: 100%;
        border: none;
        font-size: 30px;
        padding: 10px 0;
        color: white;
        background-color: green;
        cursor: pointer;
        // &.loading {
        //   background-color: gray;
        //   cursor: not-allowed;
        // }
      }
    }
  }
}

.hidden-nav {
  display: none;
  @media (max-width: 600px) {
    position: fixed;
    top: 90px;
    z-index: 100;
    display: flex;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0px 0;
    a {
      background-color: black;
      color: white;
      text-align: center;
      padding: 5px;
      text-decoration: none;
    }
  }
}
.modal-container {
  .modal-header {
    .close {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background-color: black;
      color: white;
      font-size: 25px;
      padding: 5px 10px;
      cursor: pointer;
    }
    h2 {
      margin-bottom: 5px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        border-bottom: 0.5px gainsboro solid;
        th {
          text-align: left;
          padding: 10px 0;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 0.5px gainsboro solid;
        td {
          padding: 10px 0;
          img {
            width: 60px;
          }
        }
      }
    }
  }

  h2 {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  input {
    margin: 5px 0;
    padding: 5px 2px;
    font-size: 15px;
    width: 400px;
    border-radius: 5px;
    border: 0.5px gainsboro solid;
  }
  .confirm {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: orangered;
    border: none;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
    &.loading {
      background-color: gray;
      cursor: not-allowed;

      &:hover {
        background-color: gray;
        border-radius: 5px;
      }
    }
    &:hover {
      background-color: orange;
      border-radius: 5px;
    }
  }
}
